<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>評論最喜歡的電影</h1>
    <p>每個人心中都住著一位藝術家，在這裡刊登看過的電影，留下最簡單的分數或心得，一圓評論家的夢！</p>
    <p><%= link_to "馬上註冊成為一位評論家", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end -%>
</div>
