<%= form_for([@movie, @review]) do |f| %>


  <div class="form-group" style="width: 300px;">
    <div class="field">
      <div class="star-rating"></div>
    </div>
    <% if review.errors.messages[:rating].present? %>
      <span style="color: red;">請給分數</span>
    <% end %>
  </div>

  <div class="form-group" style="width: 300px;">
    <%= f.label "留下評論" %>
    <%= f.text_area :comment, class: "form-control", id: :review_comment %>

    <% if review.errors.messages[:comment].present? %>
      <span style="color: red;">不得為空</span>
    <% end %>
  </div>

  <div class="form-group" style="width: 300px;">
    <%= f.submit "發表評論", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<script>
  $('.star-rating').raty({
    path: '/rating/',
    scoreName: 'review[rating]'
  });
</script>
